.fileHolder {
    transition: rm 0.135s cubic-bezier(0, 0, 0.2, 1) 0.2s, opacity 0.15s linear 0s;
}
.fileContainer {
    transition: rm 0.135s cubic-bezier(0, 0, 0.2, 1) 0.2s, opacity 0.15s linear 0s;
}

.fileContainer.checked {
    transform: translateZ(0px) scale3d(0.89228, 0.91922, 1);
}

.fileContainer button.edited {
    border: 2px solid maroon;
}