.slideContainer video {
  object-fit: contain !important;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
}

.slideContainer img {
  object-fit: contain !important;
  text-align: center;
  margin: auto;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slideContainer {
  background-color: black !important;
  position: absolute;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
  overflow: hidden; 
}

.slideCaption {
  display: block;
  background: rgba(0,0,0, 0.5);
  bottom: 6%;
  font-size: 18px;
  margin: auto;
  z-index: 999;
  width: 50%;
  padding: 20px;
  text-align: center;
}

.carousel-control-prev, .carousel-control-next {
  visibility: hidden;
}

@media (max-width: 500px) {
  .slideCaption {
    bottom: 2%;
    font-size: 18px;
    width: 80vw;
    padding: 10px;
  }
}