.slideContainer video {
  object-fit: contain !important;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
}

.slideContainer img {
  object-fit: contain !important;
  text-align: center;
  margin: auto;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slideContainer {
  background-color: black !important;
  position: absolute;
  width: 100vw !important;
  height: 100vh !important;
  top: 0;
  overflow: hidden; 
}

.slideCaption {
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 35%;
  margin: auto;
}

.slideCaption p {
  margin: 0 5px;
}

.slideCaption .subtext {
  font-size: 15px;
}

.carousel-control-prev, .carousel-control-next {
  visibility: hidden;
}

@media (max-width: 500px) {
  .slideCaption {
    width: 75vw;
    padding: 10px;
  }
  .slideCaption .subtext {
    font-size: 13px;
  }
}